body {
  font-family: 'Bebas Neue', cursive;
}
#container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  background-color: #00A8B5

}

#title {
  grid-area: 1/4/2/8;
  text-align: center;
  background-color: #F3AE4B;
  padding: 20px;
}

#prompt {
  grid-area: 1/4/2/8;
  text-align: center;
  align-items: center;
  font-size: 40px;
  
}

#answer1 {
  grid-area: 2/4/3/8;
}

#answer2 {
  grid-area: 3/4/4/8;
}

#answer3 {
  grid-area: 4/4/5/8;
}

#answer4 {
  grid-area: 5/4/6/8;
}

#submit {
  grid-area: 6/5/7/7;
  margin-top: 20px;
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  background-color: #E4734F;
  padding: 0px;
}

#score {
  grid-area: 7/4/18/8;
  text-align: center;
  font-size: 30px;
}

.answerButton {
  
}

.answerBox {
  border: 2px solid black;
  margin: 3px;
  text-align: center;
  font-size: 20px;
  padding: 10px;
}
